/* adding every class I create in the components so that I can come back and style them directly here, starting with basic styling for the sake of a non-broken css page */

/* new color scheme */
/* 
OXFORD BLUE - #0A2342 (NAVY)
INDIAN RED - #DB5461 (LIGHT RED)
SHAMROCK GREEN - #28965A (GREEN)
BABY POWDER - #FFFDF7 (WHITE)
CORNFLOWER BLUE - #6F9CEB (LIGHT BLUE)
*/

/* import fonts here as needed */

/* app in general */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #6F9CEB;
}

/* pages in general */
.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}

/* navbar */
.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2em;
  background-image: linear-gradient(#0A2342, #6F9CEB)
}

.navigation .logo {
  height: 100px;
  padding: 0;
}

/* same styling for navbar links and contact links */
.nav-links,
.contacts {
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.nav-links a {
  font-weight: bold;
  margin: 0 12px;
  padding: 0 0 4px 0;
}

.nav-links a:link {
  color: #FFFDF7;
  text-decoration: none;
}

.nav-links a:visited {
  color: #0A2342;
  text-decoration: none;
}

.nav-links a:hover {
  color: #DB5461;
  text-decoration: underline;
}

.nav-links a:active {
  color: #6F9CEB;
  text-decoration: line-through;
}

/* contacts */
.contacts a {
  font-weight: bold;
  margin: 0 12px;
  padding: 0 0 4px 0;
  color: #FFFDF7;
}

.contacts a:link {
  color: #FFFDF7;
  text-decoration: none;
}

.contacts a:visited {
  color: #0A2342;
  text-decoration: none;
}

.contacts a:hover {
  color: #DB5461;
  text-decoration: underline;
}

.contacts a:active {
  color: #6F9CEB;
  text-decoration: line-through;
}

/* footer */
.footer {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 32px 24px 12px;
  background-image: linear-gradient(#6F9CEB, #0A2342)
}

.footer-links a {
  font-weight: bold;
  margin: 0 10px;
  padding: 0 0 2px 0;
}

.copyright {
  font-size: 12px;
  margin: 10px;
  filter: drop-shadow(0px 1px 2px #6F9CEB);
}

/* home page stuff */
/* starting from scratch :( */

.home-block {
  display: flex;
}

.home-header {
  display: block;
  width: 100%;
}

.page-title {
  display: flex;
  font-size: 32px;
  justify-content: center;
  font-weight: bold;
}

.contact-bar {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin-top: -8px;
}

.contact-bar span {
  padding-bottom: 10px;
}

.contact-bar .phone {
  display: flex;
}

.contact-bar .email {
  display: flex;
}

.contact-bar .city {
  display: flex;
}

.face {
  vertical-align: middle;
  filter: drop-shadow(2px 4px 2px #0A2342);
}

.face img {
  height: 100px;
  float: left;
}

.otra-face {
  vertical-align: middle;
  filter: drop-shadow(-2px 4px 2px #0A2342);
}

.otra-face img {
  height: 100px;
  float: right;
}

.home-intro {
  display: flex;
}

.text-box {
  display: block;
}

.text-home {
  color: black;
}

.text-info {
  color: black;
}

#box1 {
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: bold;
}

#box2 {
  font-size: 14px;
}

#box2 p {
  padding-bottom: 6px;
}

#box3 {
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: bold;
}

#box4 {
  font-size: 14px;
}

#box4 p {
  padding-bottom: 6px;
  line-height: 16px;
}

.home-info {
  display: flex;
}

